html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    /** Reset rems en 62.5% = 10px de 16px **/
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

/**Global**/
:root {
    --red: #be3144;
    --reddark: #963b47;
    --darkblue: #303841;
    --blue: #45567d;
    --gray: ##575252;
    --bar: #0c84b4;
    --gradient: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: #FFFFFF;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

header,
main,
footer {
    width: 100%;
    margin: 0px;
}

/** Utility**/

.no-margin {
    margin: 0;
}

.content {
    max-width: 80rem;
    margin: 0 auto;
    justify-content: center;
}



/**Navegation**/

.icons-menu {
    display: flex;
    font-size: 4rem;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
}
.icons-menu i{
    color: #ac5049;
    padding:1rem;
    border-radius: 15%;

}
.navbar,.langs{
    margin: 0rem 1rem;
    width: calc(100% - 2rem);
    position: absolute;
    top: 6rem;
    border-radius: 1rem;
}
.navbar {
    background-color: var(--bar);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar a {
    margin: 0.5rem;
    padding: 1.5rem;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.langs {
    background-color: var(--bar);
    display: none;
    padding: 1rem;
    height: 6rem;
    text-align: center;
    justify-content: center;
}

.langs a {
    padding: 1rem;
}

.langs a:hover {
    color: #08b9ff;
}


@media(min-width:768px) {
    .welcome-section{
        margin: 0 auto;
    }
    .navbar,.langs{
        margin: 0rem 1rem;
        width: 100%;
        position: relative;
        top: 0rem;
        border-radius: 1rem;
    }

    .navbar {
        border-radius: 0rem;
        background-color: var(--reddark);
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .langs {
        margin: 0;
        background-color: var(--reddark);
        display: block;
        border-radius: 0rem;

    }


    header,
    main,
    footer {
        width: calc(100% - 20rem);
        margin-left: 20rem;
    }

    .icons-menu {
        display: none;
    }

     .bar {
        position: fixed;
        margin: auto 0;
        width: 20rem;
        height: 100vh;
    } 


    .langs a {
        display: inline-block;
        margin: 1rem;
        padding: 0;
    }

    .langs {
        text-align: center;
        padding: 1rem;
    }


}



/**WELCOME**/

#welcome-section img {
    width: 25rem;
    height: auto;
    border-radius: 50%;
}

#welcome-section a {
    position: relative;
    padding: 0.5rem;
    z-index: 2;
}


#welcome-section a::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    background-color: var(--blue);
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    z-index: -1;
}

#welcome-section a:hover::before {
    transition: transform .3s;
    transform-origin: center;
    transform: scaleX(1)
}

#welcome-section {
    background-color: #000;
    background-image: var(--gradient);
    z-index: -2;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-section p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--red);
}

.welcome-section h1 {
    font-size: 6rem;
}


/**PROJECTS**/
.p-header {
    max-width: 64rem;
    margin: 0 auto 10rem auto;
    border-bottom: 0.2rem solid #f0f0f0;
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 5rem
}

.project a p {
    font-size: 1.8rem;
    padding: 1rem 1rem;
    margin: 0;
}

@media(min-width:768px){
    
    #project-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    

    div.project{
        transition: all .3s ease-in-out;
    }
    
    div.project:hover{
        transform: scale(1.1);
    }
}


#projects {
    text-align: center;
    padding: 10rem 2rem;
    background-color: var(--blue);
}

.project {
    background: var(--darkblue);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 5px;
}


.project-image {
    height: calc(100% - 7rem);
    width: 100%;
    object-fit: cover;
}

#profile-link {
    text-align: center;
    background-color: var(--blue);
    padding: 10rem 0;
}
.profile-flex{
    display: flex;
    flex-wrap: wrap;
}
#site-footer {
    padding: 2rem;
    background-color: var(--darkblue);
    text-align: end;
}


#aptitudes {
    background-color: var(--darkblue);
    padding: 10rem 2rem;
}

.apt-info {
    list-style: none;
    padding: 0;
}

.apt-info li {
    text-align: justify;
    padding: 1rem 0;
}

.apt-info li h3{
    text-align: justify;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.apt-info .percent {
    margin: auto 0;
}

.apt-info .percent-bar {
    background-color: var(--bar);
    border-radius: 2rem;
}

.contac {
    width: 15rem;
    max-height: auto;
    margin: 1rem 2rem;
}
.contac i {
    font-size: 12rem;
}

.contac .fa-github:hover {
    color: #2a2e30;
}

.contac .fa-facebook:hover {
    color: #4795df;
}

.contac .fa-instagram:hover {
    color: #ff58c7d0
}

.contac .fa-whatsapp:hover {
    color: #5bff68;
}

/**ANIMACIONES**/

@media(min-width:768px) {


    .animation:hover{
        animation: 1s movercaja infinite;
    }

    @keyframes movercaja {
        0% {
            -webkit-transform: translateY(-4px);
        }

        50% {
            -webkit-transform: translateY(4px);

        }

        100% {
            -webkit-transform: translateY(-4px);

        }

    }

    .animation::before {
        position: absolute;
        content: '';
        top: 65%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, #000000 0%, rgba(0, 0, 0, 0) 60%);
        transition-duration: 0.3s;
    }

    .animation:hover::before {
        opacity: 1;
        transform: translateY(6px);
        animation: 1s moversombra infinite;
    }

    @keyframes moversombra {
        50% {
            -webkit-transform: translateY(2px);
            opacity: 1;
        }
    }


}
