*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,#ffbebee8,#9dcbff);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    margin-top: 4%;
}

#title, #description{
    text-align: center;
}

#survey-form{
    position: absolute;
    right: 0;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #443e4bc7;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15px;
    padding: 3%;
    border-radius: 1%;
    font-size: larger;
    color: aliceblue;
}
.container2{
    padding: 0px;
}

input,select,textarea{
    margin: 10px;
    padding: 5px;
}

textarea{
    resize: vertical;
    width: 100%;
    margin: 0px;
    margin-top: 5px;
}

.container p{
    margin-top: 10px;
}
.enviar{
    align-self: end;
    width: 100%;
    
}
#submit{
    margin: 0px;
    margin-top: 15px;
    background-color: #3faa5a;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
}

a.nav-link{
    text-align: center;
    max-width: 300px;
    max-height: 35px;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    color: #8b91e6;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
}

a.nav-link:hover{
    background-color: antiquewhite;
    border-radius: 10px;
}