/* .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #963b47;
    font-size: 0.9rem;
    width: 200px;
    height: 100vh;
}

.navbar div{
    display: flex;
}

.navbar div a{
    text-decoration: none;
    color: #FFF;
    padding: 10px 10px;
    margin: 10px;
}


.navbar div a:hover{
    color: #0c84b4;
} */